<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-bugly"
    version="1.0.0">
  <name>bugly</name>
  <description>Cordova Crash Reporter</description>
  <license>Apache 2.0</license>
  <keywords>cordova, crash reporter, bugly</keywords>
  <repo>https://github.com/baidan4855/cordova-plugin-bugly.git</repo>
  <issue>https://github.com/baidan4855/cordova-plugin-bugly/issues</issue>

  <preference name="BUGLY_APPID_ANDROID" />
  <preference name="BUGLY_APPID_IOS" />
  <preference name="BUGLY_ENABLE_DEBUG" />

  <hook type="after_plugin_install" src="src/hooks/after_plugin_install.js" />
  <hook type="before_plugin_uninstall" src="src/hooks/before_plugin_uninstall.js" />
  <!-- android -->
  <platform name="android">
    <lib-file src="src/android/libs/bugly_crashreport_upgrade-1.3.1.aar" />
    <framework src="src/android/rules.gradle" custom="true" type="gradleReference" />
    <source-file src="src/android/BuglyApp.java" target-dir="src/com/ihealthlabs/plugins" />
    <source-file src="src/android/xml/bugly.xml" target-dir="res/xml" />
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
      <uses-permission android:name="android.permission.INTERNET"></uses-permission>
      <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
      <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity
        android:name="com.tencent.bugly.beta.ui.BetaActivity"
        android:configChanges="keyboardHidden|orientation|screenSize|locale"
        android:theme="@android:style/Theme.Translucent" />
        <provider
          xmlns:tools="http://schemas.android.com/tools"
          android:name=".utils.BuglyFileProvider"
          android:authorities="${applicationId}.fileProvider"
          android:exported="false"
          android:grantUriPermissions="true"
          tools:replace="name,authorities,exported,grantUriPermissions">
          <meta-data
            xmlns:tools="http://schemas.android.com/tools"
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/buyly"
            tools:replace="name,resource"/>
        </provider>
      <meta-data android:name="BUGLY_APPID" android:value="$BUGLY_APPID_ANDROID" />
      <meta-data android:name="BUGLY_ENABLE_DEBUG" android:value="$BUGLY_ENABLE_DEBUG" />
    </config-file>
  </platform>

  <!-- ios -->
  <platform name="ios">
    <framework src="SystemConfiguration.framework" />
    <framework src="Security.framework" />
    <framework src="libz.tbd" />
    <framework src="libc++.tbd" />
    <framework src="src/ios/libs/Bugly.framework" custom="true" />

    <config-file target="*-Info.plist" parent="BuglyAppIDString">
        <string>$BUGLY_APPID_IOS</string>
    </config-file>
    <config-file target="*-Info.plist" parent="BuglyDebugEnable">
        <string>$BUGLY_ENABLE_DEBUG</string>
    </config-file>
  </platform>

</plugin>
