<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-bugly"
    version="1.0.0">
  <name>bugly</name>
  <description>Cordova Crash Reporter</description>
  <license>Apache 2.0</license>
  <keywords>cordova, crash reporter, bugly</keywords>
  <repo>https://github.com/songlipeng2003/cordova-plugin-bugly.git</repo>
  <issue>https://github.com/songlipeng2003/cordova-plugin-bugly/issues</issue>
  
  <!-- Required gradle functionality support -->
  <engine name="cordova-android" version=">=4.1.0" />
  <!-- Cordova 6.4.0 and iOS 4.3.0 are required for Cocoapods support -->
  <engine name="cordova" version=">=6.4.0" />
  <engine name="cordova-ios" version=">=4.3.0" />

  <hook type="after_plugin_install" src="src/hooks/after_plugin_install.js" />
  <hook type="before_plugin_uninstall" src="src/hooks/before_plugin_uninstall.js" />

  <preference name="BUGLY_APPID_ANDROID" />
  <preference name="BUGLY_APPID_IOS" />
  <preference name="BUGLY_ENABLE_DEBUG" />
  
  <!-- android -->
  <platform name="android">
    <framework src="com.tencent.bugly:crashreport_upgrade:1.4.2" />
    <framework src="com.tencent.bugly:nativecrashreport:3.1.0" />
    <framework src="androidx.legacy:legacy-support-v4:1.0.0" />
    
    <source-file src="src/android/BuglyPlugin.java" target-dir="src/com/ihealthlabs/plugins" />
    <source-file src="src/android/BuglyFileProvider.java" target-dir="src/com/ihealthlabs/plugins" />
  
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="BuglyPlugin">
        <param name="onload" value="true" />
        <param name="android-package"
                value="com.ihealthlabs.plugins.BuglyPlugin"/>
      </feature>
    </config-file>
    <source-file src="src/android/xml/bugly.xml" target-dir="res/xml" />
    <source-file src="src/android/xml/network_security_config.xml" target-dir="res/xml" />
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
      <application android:networkSecurityConfig="@xml/network_security_config" />
    </edit-config>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
      <uses-permission android:name="android.permission.INTERNET"></uses-permission>
      <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
      <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity
        android:name="com.tencent.bugly.beta.ui.BetaActivity"
        android:configChanges="keyboardHidden|orientation|screenSize|locale"
        android:theme="@android:style/Theme.Translucent" />
        <provider
          xmlns:tools="http://schemas.android.com/tools"
          android:name="com.ihealthlabs.plugins.BuglyFileProvider"
          android:authorities="${applicationId}.fileProvider"
          android:exported="false"
          android:grantUriPermissions="true"
          tools:replace="name,authorities,exported,grantUriPermissions">
          <meta-data
            xmlns:tools="http://schemas.android.com/tools"
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/bugly"
            tools:replace="name,resource"/>
        </provider>
      <meta-data android:name="BUGLY_APPID" android:value="$BUGLY_APPID_ANDROID" />
      <meta-data android:name="BUGLY_ENABLE_DEBUG" android:value="$BUGLY_ENABLE_DEBUG" />
    </config-file>
  </platform>

  <!-- ios -->
  <platform name="ios">
    <framework src="SystemConfiguration.framework" />
    <framework src="Security.framework" />
    <framework src="libz.tbd" />
    <framework src="libc++.tbd" />
    <framework src="src/ios/libs/Bugly.framework" custom="true" />

    <config-file target="*-Info.plist" parent="BuglyAppIDString">
        <string>$BUGLY_APPID_IOS</string>
    </config-file>
    <config-file target="*-Info.plist" parent="BuglyDebugEnable">
        <string>$BUGLY_ENABLE_DEBUG</string>
    </config-file>
  </platform>

</plugin>
